<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONVIO_API_KEY" value=""/>
    <add key="CONVIO_LOGIN_NAME" value=""/>
    <add key="CONVIO_LOGIN_PASS" value=""/>
    <add key="CONVIO_VERSION" value="1.0"/>
    <add key="CONVIO_BASE_URL" value=""/>
    <add key="CONVIO_BASE_URL2" value=""/>
  </appSettings>
</configuration>